<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="snd.orgn.foodnfine">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="snd.orgn.foodnfine.application.DeliveryEverything"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup,android:usesCleartextTraffic,android:icon">
        <activity
            android:screenOrientation="portrait"
            android:name="snd.orgn.foodnfine.activity.ConfirmOrderDetails"/>
        <activity
            android:name="snd.orgn.foodnfine.activity.OffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.NewSwadesiProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.NewRestaurantDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.NewGroceryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:windowSoftInputMode="stateHidden"
            android:name="snd.orgn.foodnfine.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.GetFromSavedAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.ContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.GPSActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.ElecMedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SwadesiDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SwadesiProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.GroceryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.GroceryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SubcriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.DailyBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SelectServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.OnlinePaymentActivitySwadesiProdct"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SelectPaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="snd.orgn.foodnfine.activity.RestrurentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.WalletActivity"
            android:screenOrientation="portrait" /> <!-- <provider -->
        <activity
            android:name="snd.orgn.foodnfine.activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.MyOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.RestrurentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.OtherStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SendPackageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="snd.orgn.foodnfine.activity.ServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.LocationOnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SelectLocationMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SelectLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="snd.orgn.foodnfine.activity.SavedAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.AccountDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.DasboardActivity"
            android:label="@string/title_activity_dasboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.LoginMobileNoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.OtpCheckActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.Splash_ScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="snd.orgn.foodnfine.activity.PaymentSwadesiProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.activity.OnlinePaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="snd.orgn.foodnfine.firebase.NotificationClass"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- Firebase Notifications -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- ./Firebase Notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/twiclo_logo" />

        <service android:name="snd.orgn.foodnfine.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>